<body>
    <h1>Blogs</h1>
    <h2>Jirawat Sukharom:</h2>

    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>

    <p>Welcome to my astro page! This is a test paragraph.</p>

</body>